@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa__cabecalho {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
    scale: 95%;
}

.produtos li:active h2 {
    scale: 95%;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

footer {
    text-align: center;
    background: url("imagem/bg.jpg");
    padding: 40px 0;
}


.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.input-padrão {
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.enviar:hover {
    background: darkorange;
    transition: 1s;
    cursor: pointer;
    scale: 105%;
}

table {
    margin: 20px 0 40px 0;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

/* CSS da página inicial */
.banner {
    width: 100%;
}

.titulo__div {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em 0;
    clear: left;
}

.titulo__div::before {
    content: "[ ";
}

.titulo__div::after {
    content: " ]";
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em 0;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo__beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista__beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5em;
}

.itens:first-child {
    font-weight: bold;
}

.itens::before {
    content: "☆";
}

.imgbeneficios {
    width: 60%;
    opacity: 1;
    box-shadow: 10px 10px 20px #000000;
}

.imgbeneficios:hover {
    opacity: .4;
    transition: 400ms;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa__conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em 0;
    text-align: center;
}

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 960px) {
    .caixa__cabecalho, .principal, .conteudo__beneficios, .mapa__conteudo, .video {
        width: auto;
    }
    .titulo__div {
        font-size: 1.5em;
        font-weight: bold;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .lista__beneficios, .imgbeneficios {
        width: 100%;
        margin-top: 5%;
    }
    .produtos li {
        display: list-item;
        margin: 3%;
    }
}